#grid {
    width: fit-content;
    height: fit-content;
    background: url("https://www.esa.int/var/esa/storage/images/esa_multimedia/images/2022/08/holden_basin_on_mars/24419463-1-eng-GB/Holden_Basin_on_Mars_pillars.jpg") no-repeat;
}

html {
    height: 100vh;
    background-color: bisque;
}

img {
    width: 48px;
    height: 48px;
}

.row {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.cell {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    width: 100px;
    height: 100px;
}